@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Archivo", sans-serif;
}

.row {
    margin: 0 !important;
}
input, select, textarea {
    outline: none !important;
    box-shadow: none !important;
    padding: 14px;
    border: 1px solid #DDE5E9;
    border-radius: 10px;
    background-color: transparent;
    width: 100%;
    margin-bottom: 20px;
    color: #222;
}

input[type="checkbox"] {
    width: 18px;
    height: 18px;
    appearance: none;
    background-color: white;
    border: 2px solid #D3D6DC;
    border-radius: 4px;
    position: relative;
    cursor: pointer;
}

/* Custom checkmark */
input[type="checkbox"]:checked::before {
    content: "✔"; 
    font-size: 16px; 
    color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

label {
    color: #707A8F;
}

::placeholder {
    color: #707A8F;
    font-size: 14px;
}

.log-btn, .g-btn, .inactive, .Inactive, .d-btn {
    outline: none;
    border: 0;
    box-shadow: none;
    padding: 10px 15px;
    background-color: #2E3192;
    color: #fff;
    border-radius: 10px;
}

.inactive, .Inactive {
    color: #FE9431;
    background: #FFDEBF;
    padding: 5px;
}

.g-btn {
    background: #fff;
    color: #707A8F;
}

.d-btn {
    padding: 4px 16px;
}

.l-img {
    width: 95%;
    min-height: 100%
}

.line-with-text {
    display: flex;
    align-items: center;
    text-align: center;
    width: 100%;
    margin: 20px 0;
}
  
.line-with-text:before,
.line-with-text:after {
    content: "";
    flex: 1;
    border-bottom: 1px solid #ccc;
}
  
.line-text {
    padding: 0 10px;
    color: #666;
}

.popup-box {
    display: flex;
    flex-direction: column;
    padding: 8px;
}
  
.popup-btn {
    background: none;
    border: none;
    width: 100%;
    padding: 8px 12px;
    text-align: left;
    font-size: 12px;
    cursor: pointer;
    display: flex;
    align-items: center;
}
  
.popup-btn:hover {
    background: #f5f5f5;
}

.profile:hover {
    background: #2E3192;
    border-radius: 10px;
    padding: 10px;
    color: #fff;
}

.main-content {
    transition: margin-left 300ms;
    margin-left: 232px;
    background: #F8F8F9;
    height: 100vh;
}

.icon-hover:hover {
    background: #2E3192;
    color: #fff;
    border-radius: 15px;
}

.dash-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 1rem;
}
  
.card-single {
    background: #ffffff;
    border-radius: 10px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    width: 100%;
    margin-right: 10px;
}

table {
        
    border-collapse: separate;
    border-spacing: 0px;  
    
}

thead {
    border: 3px solid #6E7079;
}

thead th {
    position: sticky;
    top: 0;
    z-index: 1;
    /* background-color: #F9F9F9; */
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    font-size: 10px;
}

table th, table td{
    top: 0px;
    
    color: #fff;
    
    text-align: left;
    font-weight: normal;
    font-size: 11px;
    outline: 0.7px solid rgb(233, 229, 229);
    /* border: 1.5px solid rgb(233, 229, 229); */
    /* border: none !important; */

} 



table th, table td {
    
    padding: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    
}

table td {
    text-align: left;
    
    font-size: 10px;
    border: 1px solid rgb(177, 177, 177);
    padding-left: 20px;
    color: #6E7079;
    font-weight: 600;
    
}

table th {
    font-weight: 800;
    color: #707A8F !important;
    /* background: #F9F9F9; */
    border: 3px solid #f8f3f3;
}

tbody tr td:last-child {
    width: 3% !important;
}

.my-table {
    background: #fff;
}

.table-content {
    background: #fff;
    height: 300px;
    width: 100%;
}

.table-container {
    overflow-x: auto;
}


.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
  
.modal-content2 {
    background: white;
    padding: 20px;
    border-radius: 5px;
    position: relative;
    width: 1050px;
    max-width: 100%;
    max-height: 100vh;
    overflow-y: auto;

}

.modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #2E3192;
    background: #fff;
    border: none;
    font-size: 1.8rem;
    cursor: pointer;
}

hr {
    border: 1px solid #e7e8fd !important;
}

.FATAL {
    color: #FE5B65;
}

.NON_FATAL {
    color: #15AC77;
}
  

@media screen and (max-width: 992px) {
    .main-content {
        margin-left: 0;
    }

    .dash-cards {
        grid-template-columns: repeat(1, 1fr);
        grid-column-gap: 1rem;
    }

    .card-single {
        margin-bottom: 1rem;
    }

    .cta {
        border-right: none !important;
    }
}

@media screen and (min-width: 1500px) {
    .l-img {
        width: 100%;
        min-height: 100%
    }
    
}

